<div class="catalogue-item">
    <a class="catalogue-item-text" href="{{ .RelPermalink }}">
            <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h1 class="catalogue-title">{{ .Title }}</h1>
    </a>
    <div class="catalogue-line"></div>
    <p>
        {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
    </p>
    {{ if .Truncated }}
        <!-- include a read more link, but only if the summary is truncated... -->
        <a class="catalogue-readmore" href="{{ .RelPermalink }}">{{ i18n "readmore" | safeHTML }}</a>
     {{ end }}
</div>
